{% extends 'base.html' %}

{% block page_name %}
All Posts
{% endblock page_name %}

{% block content %}

{{now}}
<h3>
    <a href="{% url 'posts:post-create' %}">add a post</a>
</h3>
{% for post in object_list %}
<h1>
    <a href="{% url 'posts:detail' post.pk %}">{{post.title}}</a>
</h1>
{% endfor %}

<h5>
    {% if page_obj.has_previous %}
    <a href="?page={{page_obj.previous_page_number}}">Previous</a>
    {% endif %}
    {{page_obj.number}} of {{page_obj.paginator.num_pages}}
    {% if page_obj.has_next %}
    <a href="?page={{page_obj.next_page_number}}">Next</a>
    {% endif %}
</h5>
{% comment %} {% for page in page_range %}
<a href="?page={{page}}">{{page}}</a>
{% endfor%} {% endcomment %}

{% endblock content %}