{% load static %}
<h2>
    <a href="{% url "core:home" %}">Blog</a>
</h2>
<ul class="flex items-center text-sm font-medium h-full">

    {% if user.is_authenticated %}
    <li class="nav_link">
        <a href="{{user.get_absolute_url}}">Profile</a>
    </li>
    <li class="nav_link">
        <a href="{% url "users:logout" %}">logout</a>
    </li>
    {% else %}
    <li class="nav_link">
        <a href="{% url "users:login" %}">login</a>
    </li>
    <li class="nav_link">
        <a href="{% url "users:signup" %}">signup</a>
    </li>
    {% endif %}

</ul>